.product-card-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, calc(100vh / 12));
  font-family: DidactGothic-Regular, "Times New Roman", serif;

  .product-card-image {
    grid-column: 2 / 6;
    grid-row: 2 / 7;
    max-width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
  }

  .product-card-main-info {
    grid-column: 7 / -1;
    grid-row: 1 / 4;

    text-transform: uppercase;
    border-bottom: 1px solid $white-grey;

    .product-brand,
    .product-name {
      font-size: 2.5em;
    }

    .product-price {
      font-weight: bold;
      font-size: 1.7em;
    }

    .product-stock {
      font-weight: bold;
      font-size: 2em;
      color: rgb(34, 225, 13);
    }

    .product-out-stock {
      font-weight: bold;
      font-size: 2em;
      color: rgb(225, 41, 13);
    }
  }

  .add-info {
    grid-column: 7 / -1;
    grid-row: 6 / -1;

    div {
      border-top: 1px solid $white-grey;
      border-bottom: 1px solid $white-grey;
    }

    .category-type {
      font-weight: bold;
      font-size: 1.3em;
      cursor: pointer;
    }

    .category-value {
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 560px) {
  .product-card-wrapper {
    display: flex;
    flex-direction: column;
  }
}