.collection-products {
  scroll-snap-type: y mandatory;
  z-index: -1;
  font-family: Quicksand-Regular, "Times New Roman", serif;

    .collection-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .collection-item {
        flex-basis: 33.3333%;
        scroll-snap-align: start;
      
        border: 1px solid $white-grey;

        .item-image {
          height: 20em;
          width: 100%;
        
          object-fit: contain;
          object-position: center;
          border-bottom: 1px solid $white-grey;
         }
      }
    }
}

.out-of-stock {
  opacity: 0.2 !important;
}

@media screen and (max-width: 1024px) {
  .collection-products {
    .collection-wrapper {
      .collection-item {
        flex-basis: 50%;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .collection-products {
    .collection-wrapper {
      .collection-item {
        flex-basis: 100%;
      }
    }
  }
}