@mixin toggle-line-position {
  position: absolute;
  display: block;
  height: 0.22em;
  width: 3em;

  border-radius: 1em;
  background-color: $white-grey;
}

@mixin toggle-line-pseudo {
  transition: top .1s ease-in .25s,
  opacity .1s ease-in,
  bottom .1s ease-in .25s;
}

@mixin toggle-line {
  @include toggle-line-position;
  transition-property: transform;
  transition-duration: .22s;
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);

  &::before {
    @include toggle-line-position;
    @include toggle-line-pseudo;
    top: -0.8em;
    content: '';
  }

  &::after {
    @include toggle-line-position;
    @include toggle-line-pseudo;
    bottom: -0.8em;
    content: '';
  }

  &.opened {
    transform: rotate(225deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);

    &::before {
      top: 0;
      opacity: 0;
      transition: top .1s ease-out,
      opacity .1s ease-out .12s;
    }

    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom .1s ease-out,
      transform .22s cubic-bezier(.215,.61,.355,1) .12s;
    }
  }
}

@mixin toggle-menu($target, $width-value, $toggle-prop, $toggle-value) {
  .#{$target}-menu {
    width: $width-value;
    height: 100%;
    border-right: $white-grey-border;

    button {
      @include flex-center;
      width: 100%;
      height: 100%;

      cursor: pointer;
      color: $white-grey;
      background-color: $dark-grey;
      border: none;

      @content;
    }

    .#{$target}-list {
      position: relative;
    
      color: $aqua;
      list-style: none;
      z-index: 1;
      #{$toggle-prop}: 0;
      overflow: hidden;
      transition: #{$toggle-prop} .3s ease-in-out 0s;

      .item {
        background-color: $white;
        border: $white-grey-border;
        border-top: none;
        opacity: 0;

        cursor: pointer;

        &:hover {
          background-color: $white-grey;
        }
      }

      &.opened {
        #{$toggle-prop}: #{$toggle-value};

        .item {
          opacity: 1;
        }
      }
    }
  }
}

.toggle-menu-container {
  margin-top: 4em;
  font-family: TenorSans-Regular, "Times New Roman", serif;

  .current-filter {
    display: flex;
    align-items: center;
    height: 6em;

    text-transform: uppercase;

    span {
      @include font-style-size(normal, 1.6em);
      color: $aqua;
    }
  }

  .toggle-menu-wrapper {
    height: 3em;
    background-color: $dark-grey;
  
    .toggle-menu {
      height: 100%;
  
      @include toggle-menu(filter, 11em, width, 100%) {
        .toggle-line {
          @include toggle-line;
        }
      }

      .brand-list {
        border-top: 0.5em solid $aqua;
      }
  
      @include toggle-menu(sort, 11em, height, 10em) {
        .sort-icon {
          width: 1.6em;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .toggle-menu-container {
    .current-filter {
      justify-content: center;
      margin: 0 !important;

      span {
        @include font-style-size(normal, 1.2em);
      }
    }
  }

  .toggle-menu-wrapper {
    .toggle-menu {
      .filter-menu {
        flex-grow: 1;
      }
    
      .sort-menu {
        flex-grow: 1;
      }
    }
  }
}