@import "./components/store.scss";
@import "./components/nav.scss";

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../assets/fonts/Quicksand-Bold.ttf');
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../assets/fonts/Quicksand-Regular.ttf');
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#root {
  height: 100vh;
}
body {
  margin: 0;
  background-color: $white;
  font-family: Quicksand-Regular, "Times New Roman", serif;
}

* {
  box-sizing: border-box;
}

.scale-up {
  animation: scale .5s ease-in-out 0s forwards;
}