$white-grey: #f7f7f7;
$black: #000000;
$dark: #222020;
$white: #fff;
$dark-grey: rgb(78, 80, 81);
$grey: rgb(203, 203, 203);
$light: rgb(248, 248, 248);
$aqua: #007373;
$white-grey-border: 1px solid $white-grey;